{% load static %}
<link rel="stylesheet" href="{% static 'app/css/home-view.css' %}">

<main>
    <div class="main-container">
        <div class="title-container">
            <h2 class="about-title">Se junte a Calangada!</h2>
        </div>
        <section class="about-site">
            <p>A Terra Seca é um servidor focado para a comunidade de osu! Que hosteia campeonatos com premiações incriveis! Não perca essa oportunidade e faça parte da calangada agora!</p>
            <br>
            <p>Para você que é novo no jogo, esta é a oportunidade perfeita para mergulhar no lado competitivo do osu!</p>
        </section>  
        <div class="btn-container">
            <input class="btn" type="button" value="Informações">
            <input class="btn" type="button" value="Discord">
        </div>
    </div>
    <figure class="img-container">
        <img src="{% static 'app/img/calango.png' %}" alt="">
    </figure>
</main>