{% load static %}
<link rel="stylesheet" href="{% static 'app/css/home-view.css' %}">

<main>
    <div class="main-container">
        <section class="about-site">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda autem nulla, fugit alias eligendi sint officiis, delectus molestiae reiciendis enim praesentium libero nisi exercitationem blanditiis distinctio eius impedit consectetur saepe!</p>
        </section>
        <figure class="img-container">
            <img src="{% static 'app/img/calango.jpg' %}" alt="">
        </figure>
    </div>
    
</main>